<h1><%= @post.title %></h1>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<p><%= @post.content %></p>

<ul>
  <% @post.users.distinct.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
</ul>
