<h1><%= @post.title %></h1>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<p><%= @post.content %></p>

<ul>
  <% @post.comments do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %>
    
  <% end %>
</ul>
