<h1><%= @post.title %></h1>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<p><%= @post.content %></p>

<ul>
  <% @post.users.distinct do |user| %>
    <%= link_to user.username, user_path(user) %>
    <% user.comments.
  <% end %>
</ul>
